{% extends 'app/base.html' %}
{% load static %}

{% block titulo %}
Nosotros
{% endblock %}

{% block contenido %}
<h1>Nosotros</h1>
<h3>Desarrollado por John Cardozo</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ipsa voluptatem, quod officiis placeat nisi quisquam
    cumque sequi corrupti, consectetur amet dicta dignissimos doloribus minus recusandae? Asperiores quam facilis
    distinctio!</p>

{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'app/css/acerca.css' %}">
{% endblock %}