{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
        Blockbuster
        {% endblock %}
    </title>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
    {% block estilos %}
    {% endblock %}
</head>

<body>
    <header>
        <a href="{% url 'app:index' %}">
            <div class="logo">
                <div></div>
                <div>Blockbuster</div>
            </div>
        </a>
        <div>
            <span>
                {{ request.user.username }}
            </span>
            <a class="link-superior" href="{% url 'app:categorias' %}">Categorías</a>
            <a class="link-superior" href="{% url 'app:peliculas' %}">Películas</a>
            <a class="link-superior" href="{% url 'app:acerca' %}">Nosotros</a>

            {% if request.user.is_authenticated %}
            <a class="link-superior" href="{% url 'app:cerrar_sesion' %}">Salir</a>
            {% else %}
            <a class="link-superior" href="{% url 'app:form_login' %}">Ingresar</a>
            {% endif %}
        </div>
    </header>

    {% block contenido %}
    {% endblock %}

</body>

</html>