{% extends "app/base.html" %}

{% block contenido %}
<h1>Categorías</h1>

{% if request.user.is_authenticated %}
<a href="{% url 'app:form_crear_categoria' %}">Crear categoría</a>
{% endif %}

<table border="1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.nombre }}</td>
            <td>
                {% if categoria.descripcion %}
                {{ categoria.descripcion }}
                {% endif %}
            </td>
            <td>
                <a href="{% url 'app:categoria' categoria.id %}">ver</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block titulo %}
Categorias
{% endblock %}