{% extends "app/base.html" %}

{% block titulo %}
Pelicula
{% endblock %}

{% block contenido %}

<a href="{% url 'app:categorias' %}">Ir a categorias</a>

<h1>{{ categoria.nombre }}</h1>

<h2>Cantidad de peliculas: {{ categoria.peliculas.count }}</h2>

{% if categoria.peliculas.count > 0 %}
<table border="1">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Año</th>
        </tr>
    </thead>
    <tbody>
        {% for pelicula in categoria.peliculas.all %}
        <tr>
            <td>{{ pelicula.titulo }}</td>
            <td>{{ pelicula.year }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}