{% extends 'app/base.html' %}
{% load static %}

{% block titulo %}
Eliminar pelicula
{% endblock %}

{% block contenido %}
<style>
    .acciones {
        display: flex;
        gap: 10px;
        margin: 15px;
    }

    .acciones a {
        padding: 5px 10px;
        border-radius: 8px;
        text-decoration: none;
    }

    .acciones a:nth-child(1) {
        color: #fff;
        background: #a40606;
    }

    .acciones a:nth-child(2) {
        background: #fff;
        color: #29298e;
        border: 1px solid #29298e;
    }
</style>
<h1><i class="far fa-trash-alt"></i> Eliminar película</h1>
<div>
    <h3>Está seguro de que desea eliminar la película "{{pelicula.titulo}}"?</h3>
    <div class="acciones">
        <a href="{% url 'app:eliminar_pelicula_post' pelicula.id %}">Sí</a>
        <a href="{% url 'app:peliculas' %}">No</a>
    </div>
</div>

{% endblock %}