{% extends "app/base.html" %}

{% block titulo %}
Crear pelicula
{% endblock %}

{% block contenido %}
<h1>Crear película</h1>

<form action="{% url 'app:crear_pelicula' %}" method="POST">
    {% csrf_token %}
    <label>Título</label>
    <input type="text" name="titulo">
    <br>
    <label>Año</label>
    <input type="number" name="year">
    <br>
    <label>Categoría</label>
    <select name="categoria">
        {% for categoria in categorias %}
        <option value="{{categoria.id}}">{{categoria.nombre}}</option>
        {% endfor %}
    </select>
    <br>
    <button>Crear película</button>
</form>

{% endblock %}