{% extends "app/base.html" %}

{% block titulo %}
Crear categoría
{% endblock %}

{% block contenido %}
<h1>Crear categoría</h1>

<form action="{% url 'app:crear_categoria' %}" method="POST">
    {% csrf_token %}
    <label>Nombre</label>
    <input type="text" name="nombre">
    <br>
    <label>Descripción</label>
    <input type="text" name="descripcion">
    <br>
    <button>Crear categoría</button>
</form>

{% endblock %}