{% extends "app/base.html" %}

{% block contenido %}
{% if pelicula %}

<h1>{{ pelicula.titulo }}</h1>
<h2>Puntaje: {{ pelicula.puntaje }}</h2>
<p>{{ pelicula.descripcion }}</p>

{% else %}

<h1>Error 404!! 😭</h1>
<h3>La película que desea ver no existe!</h3>

{% endif %}

{% endblock %}

{% block titulo %}

{% if pelicula %}
{{ pelicula.titulo }}
{% else %}
Error
{% endif %}

{% endblock %}