{% extends "app/base.html" %}

{% block contenido %}
<style>
    table,
    td,
    th {
        border: 1px solid #000;
        border-collapse: collapse;
    }

    td,
    th {
        padding: 5px;
    }

    th {
        background: orange;
        color: #000;
    }

    .no-disponible {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.7em;
        padding: 2px 7px;
        background: #066ba2;
        color: #fff;
        border-radius: 5px;
    }
</style>
</head>

<h1><i class="fas fa-film"></i> Peliculas</h1>

<a href="{% url 'app:form_crear_pelicula' %}">Crear película</a>

{% if peliculas %}
<table>
    <tr>
        <th>Titulo</th>
        <th>Año</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for pelicula in peliculas %}
    <tr>
        <td>{{ pelicula.titulo }}</td>
        <td>
            {% if pelicula.year %}
            {{ pelicula.year }}
            {% else %}
            <span class="no-disponible">No disponible</span>
            {% endif %}
        </td>
        <td>
            <a href="{% url 'app:pelicula' pelicula.id %}" title="Ver pelicula" class="link-ver">
                <i class="fas fa-search"></i>
            </a>
        </td>
        <td>
            <a href="#" title="Editar película" class="link-editar">
                <i class="fas fa-pencil-alt"></i>
            </a>
        </td>
        <td>
            <a href="{% url 'app:eliminar_confirmacion' pelicula.id %}" title="Eliminar película" class="link-borrar">
                <i class="far fa-trash-alt"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h1>No hay peliculas disponibles</h1>
{% endif %}

{% endblock %}

{% block titulo %}
Películas
{% endblock %}