{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'app/css/auth.css' %}">
</head>

<body>
    <div class="contenido">
        <div class="form-registro">
            <h2>Crear cuenta</h2>
            <form action="{% url 'app:registro' %}" method="POST">
                {% csrf_token %}
                <fieldset>
                    <label>Username</label>
                    <input type="text" name="username">
                </fieldset>
                <fieldset>
                    <label>Email</label>
                    <input type="email" name="email">
                </fieldset>
                <fieldset>
                    <label>Password</label>
                    <input type="password" name="password">
                </fieldset>
                <button>Crear cuenta</button>
            </form>
        </div>
    </div>
</body>

</html>