* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenido {
  font-family: Arial, Helvetica, sans-serif;
  background: #748fac;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
.form-registro {
  width: 40%;
  background: #fff;
  border: 1px solid #46576a;
  border-radius: 5px;
  padding: 20px;
}
.form-registro h2 {
  color: #46576a;
}
fieldset {
  border: none;
  margin: 5px;
}
.form-registro button {
  background: #46576a;
  border: 1px solid #46576a;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.error {
  border: 1px solid #9a0101;
  padding: 2px;
  color: #9a0101;
  background: #f7cfcf;
  font-style: italic;
  font-size: 0.7rem;
  margin-bottom: 10px;
}
