* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-azul: #263b76;
  --color-amarillo: #ffce51;
}

header {
  display: flex;
  justify-content: space-between;

  padding: 20px;
  border-bottom: 1px solid #c7c7c7;
  box-shadow: 0px 1px 5px #979797;
}
.link-superior {
  background: var(--color-azul);
  color: var(--color-amarillo);
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.link-superior:hover {
  background: #3c4b74;
}

.logo {
  background-image: linear-gradient(to right, #104f94, var(--color-azul));
  box-shadow: 1px 1px 2px #969696;
  color: var(--color-amarillo);
  padding: 5px 5px 5px 10px;
  width: 120px;
  transform: rotate(-10deg);
}
.logo div:first-of-type {
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 17px;
  left: -10px;
}
.logo div:last-of-type {
  border: 1.5px solid var(--color-amarillo);
  padding: 10px 0px;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
}

.link-borrar {
  color: #da0404;
}
.link-ver {
  color: #04b3da;
}
.link-editar {
  color: #cd8602;
}
